body {
	font-family: segoe ui, arial;
}

header {
	background: #333;
	color: #fff;
	padding: 20px;
	position: relative;
}

.site-title {
	margin-left: 100px;
	font-size: 1rem;
}

.nav-toggle {
	position: absolute;
	top: 30px;
	cursor: pointer;
}

a {
	color: #fff;
	text-decoration: none;
}

nav li {
	list-style: none;
}

.nav__main {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #222;
	text-align: center;
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}

.nav__lists {
	margin: 0;
	padding: 0;
}

.nav__item {
	list-style-type: none;
}

.nav-item__link { 
	padding: 10px 20px;
	display: block;
}

.nav-item__link:hover {
	background-color: #333;
}

.nav__title {
	margin-left: 100px;
	font-size: 1rem;
}

.nav__toggle {
	position: absolute;
	top: 30px;
	cursor: pointer;
}

.js-navOpen {
	transform: translateX(0);
}

.nav__close {
	position: absolute;
	top: 2%;
	right: 2%;
	cursor: pointer;
	padding: 1em;
}

.nav__close:hover {
	background: #333;
}

