@import "reset.css";
@import "clearfix.css";

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Open Sans';
}

.wrapper {
	padding: 5%;
}

.nav {
	margin: 0 auto;
}

.nav__logo {
	text-decoration: none;
	color: #222;

	float: left;
	padding: 1em;
}

.nav__lists {}

.nav__item {
	padding: 1em;
	/*border: 2px solid grey;*/

	float: right;
	cursor: pointer;
}

.nav__toggle {
	text-decoration: none;
	color: #222;
	padding: 1em;
	display: none;
}

.paragraph {
	line-height: 1.5;
}

@media screen and (max-width: 600px) {
	.nav {
		text-align: center;
	}

	.nav__lists {
		height: 0;
		overflow: : hidden;
		opacity: 0;
	}

	.nav__item {
		float: none;
		cursor: pointer;
	}

	.nav__item:hover {
		background: #444;
		color: #fff;
	}

	.nav__logo {
		display: none;
	}

	.nav__toggle {
		display: block;
	}

	.js-open {
		height: auto;
		opacity: 1;
	}
}